
{% block content %}

<style>
    body {
      font-family: Arial, sans-serif;
      text-align: center;
    }

    nav ul li a {
      color: blue;
      text-decoration: none;
      font-size: larger;
      padding: 10px;
      margin:20px;
    }

    nav ul li a:hover {
      background-color: lightgray;
    }

  </style>

    <p>Hello, {{ username }}!</p> 
    <nav>
        
          <li><a href="upload1">Algorithm 1</a></li>
          <li><a href="upload2">Algorithm 2</a></li>
          <li><a href="upload3">Algorithm 3</a></li>
        
      </nav>
{% endblock %} 
