
<p> Input: </p>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Budget</th>
            <th>Preferences</th>
            <th>Courses</th>
            <th>Year</th>
        </tr>
    </thead>
    <tbody>
        {% for student in input.students %}
        <tr>
            <td>{{ student["name"] }}</td>
            <td>{{ student["budget"] }}</td>
            <td>{{ student["preferences"] }}</td>
            <td>{{ student["courses"] }}</td>
            <td>{{ student["year"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Max capacity</th>
            <th>Capacity</th>
        </tr>
    </thead>
    <tbody>
        {% for course in input.courses %}
        <tr>
            <td>{{ course["name"] }}</td>
            <td>{{ course["price"] }}</td>
            <td>{{ course["max_capacity"] }}</td>
            <td>{{ course["capacity"] }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<p> Output: {{output}} </p>
